/* https://css-tricks.com/centering-css-complete-guide/#center-horizontally-and-vertically */
#root {
  height: 100%;
  position: relative;
}

.App-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.App-heading {
  font-size: 3em;
}
