html {
  font-size: 62.5%; /* 1rem = 10px on default browser settings */
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ensure tag works in IE 9-11 */
main {
  display: block;
}

.text-center {
  text-align: center;
}
